body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 30%, rgba(0,212,255,1) 100%);   
    font-size: 30px;
    text-align: center;

}

div.formulario {
    width: 500px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;   
    text-align: left; 
}

div.form-line {
    margin-bottom: 15px;
}

div.columna-1, 
div.columna-2{
	width:50%;
	float: left;
}

div.columna-2{
	background-color:#fa8072;
}

button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
}

button:hover {
    background-color: lightgreen;
	color: black;
}

div.botones {
    text-align: center;
    margin-top: 1.5em;
}

label {
    width: 200px;
    display: inline-block;
}

input {
    font-size: 15px;
    padding: 7px 10px;
    border: 1px solid brown;
    border-radius: 5px;
}


select {
    padding: 8px 20px;
    font-size: 15px;
    border: 1px solid brown;
    border-radius: 5px;
}


div.banner{
    max-width: max-content;
    max-height: 200px;    
    margin: auto;
    transition: all 0.5s ease-in-out 0s;
    padding-left: 20px;
    padding-right: 20px;
}